{{!-- set bg of devoured burger list --}}
<li class="list-group-item">
    {{!-- burger name and id  --}}
    {{id}} . {{burger_name}}

    <button type="button " class="change-devour btn-info ml-3" data-id="{{id}}" data-newburger="{{devoured}}">
        DEVOUR!
    </button>
</li>